<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/scatter" method="post">
        <label for="col_name1">Column Name 1:</label>
        <input type="text" id="col_name1" name="col_name1">
        <label for="col_name2">Column Name 2:</label>
        <input type="text" id="col_name2" name="col_name2">
        <input type="submit" value="Generate Scatter Plot">
    </form>
    {%if plot_file%}
    <img src="{{url_for('static',filename=plot_file)}}" alt="scatterPlot">
    {% endif %}
</body>
</html>